:root {
    /* Cor do Menu */
    --bg-dark: #1A2F3A;
    /* Altura do Logo */
    --logo-height: 100px;
    /* Altura do Header */
    --header-height: 100px;
    /* Largura do Menu */
    --aside-width: 200px;
    /* Altura do Footer */
    --footer-height: 40px;
    /* Shadow */
    --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Layout Grid */

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-auto-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-areas: "logo header""menu content""menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}